

<section class="container">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Voici la super equipe qui a produit ce site</h1>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" <%= image_tag "cooper.jpg"%> 
        <div class="card-body">
          <p class="card-text">
            BAZINGA !!!!!!
          </p>
          <small class="text-muted">Sheldon Cooper</small>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top"  <%= image_tag "howard.jpg"%>
          <div class="card-body">
            <p class="card-text">
						“Love is not a sprint, it's a marathon, a relentless pursuit that only ends when she falls into your arms- or hits you with the pepper spray.”
            </p>
            <small class="text-muted">Howards Wolowitz</small>
          </div>
        </div>
      </div>
    </section>
